<div class="jumbotron jumbotron-home">
        <div class="container">
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <% if user_signed_in? %>
                <h1>Welcome Back</h1>
            <% else %>
                <h1>Welcome to my site!</h1>
            <% end %>
            
            <p>This application is a ruby on rails twitter clone, developed as part of my CAD module. </p>
            <%= link_to "Follow me on Linkedin", "https://www.linkedin.com/in/bennmiley/", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Lorem ipsum dolor sit amet. Et iste dolore et accusamus dicta aut minus inventore qui laborum porro est quasi molestiae. Qui vitae deleniti vel aspernatur voluptatem aut eaque veritatis qui deserunt vero ut omnis veritatis. Sed voluptatum blanditiis in debitis dolores qui repellat voluptatem et labore atque sit esse expedita id animi suscipit aut commodi doloribus. Ea quisquam deserunt non optio galisum et exercitationem veniam!</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Lorem ipsum dolor sit amet. Et iste dolore et accusamus dicta aut minus inventore qui laborum porro est quasi molestiae. Qui vitae deleniti vel aspernatur voluptatem aut eaque veritatis qui deserunt vero ut omnis veritatis. Sed voluptatum blanditiis in debitis dolores qui repellat voluptatem et labore atque sit esse expedita id animi suscipit aut commodi doloribus. Ea quisquam deserunt non optio galisum et exercitationem veniam! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Lorem ipsum dolor sit amet. Et iste dolore et accusamus dicta aut minus inventore qui laborum porro est quasi molestiae. Qui vitae deleniti vel aspernatur voluptatem aut eaque veritatis qui deserunt vero ut omnis veritatis. Sed voluptatum blanditiis in debitis dolores qui repellat voluptatem et labore atque sit esse expedita id animi suscipit aut commodi doloribus. Ea quisquam deserunt non optio galisum et exercitationem veniam! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>